.progress-wrapper {
	position: relative;
	margin: 20px auto;
	font-size: 40px;
}

.current {
	position: absolute;
	color: #bbb;
	font-weight: 100;
	line-height: 1;
}

round-progress {
	margin: auto;
}
